<div class="container col d-flex justify-content-center mt-5">
  <div class="login-form">
    <h1> Login </h1>
    <hr>
    <form #signupForm="ngForm" (ngSubmit)="login(signupForm.value)">
      <div class="mb-3">
        <label for="name" class="form-label">Username</label>
        <input type="text" maxlength="10" class="form-control" name="username" id="name" #userName="ngModel" ngModel
          required>
      </div>
      <div class="mb-3">
        <label for="userpassword" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="userpassword" #userPassword="ngModel" ngModel
          required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>
      <hr>
      <p class="text-small"> Not have any account? <a [routerLink]="['/signup']"> Singup here </a> </p>
    </form>
  </div>
</div>
