<div class="container col d-flex justify-content-center mt-5">
  <div class="login-form">
    <h1> Login </h1>
    <hr>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="mb-3">
        <label for="name" class="form-label">Username</label>
        <input type="text" maxlength="10" class="form-control" name="username" id="name" #username="ngModel" ngModel
          required [ngClass]="{'is-invalid': username.touched && username.errors?.required}">
        <div *ngIf="username.touched">
          <small class="text-danger" *ngIf="username.errors?.required"> Username is required! </small>
        </div>
      </div>
      <div class="mb-3">
        <label for="userpassword" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="userpassword" #password="ngModel" ngModel
          required [ngClass]="{'is-invalid': password.touched && password.errors?.required}">
        <div *ngIf="password.touched">
          <small class="text-danger" *ngIf="password.errors?.required"> Password is required! </small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>
      <button type="button" class="btn btn-danger btn-lg w-100" (click)="googleLogin()">Login with Google</button>
      <hr>
      <p class="text-small"> Not have any account? <a [routerLink]="['/signup']"> Singup here </a> </p>
    </form>
  </div>
</div>
