<div class="container col w-25 justify-content-center mt-5">
  <div class="signup-form">
    <h1> Signup </h1>
    <hr>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="useremail" class="form-label">Email</label>
        <input type="email" class="form-control" id="useremail" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="userpassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="userpassword">
      </div>
      <div class="mb-3">
        <label for="userconfirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="userconfirm">
      </div>
      <button type="button" class="btn btn-primary btn-lg w-100" (click)="signup()">Signup</button>
      <hr>
      <p class="text-small"> Already have an account? <a [routerLink]="['/login']"> Login here </a> </p>
    </form>
  </div>
</div>
